<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign:</strong>
  <%= @ad.campaign %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ad.type %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
